body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
html,body,ul,p,hr,h3 {
    margin: 0;
    padding: 0;
}
.header {
    background: #337aB7;
    width: 100%;
    height: 60px;
    font-size: 22px;
    overflow: hidden;
    color: #fff;
}
.list {
    line-height: 60px;
}
.navigation {
    overflow: hidden;
}
.list li {
    list-style-type: none;
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.list li a {
    text-decoration: none;
    color: #fff;
}
.list li a:hover {

}
.list li:not(:first-child) a:hover {
    font-size: 26px;
    color: #f5f5f5;
}
.logo {
    font-size: 26px;
    font-weight: 700;
}
.container {
    min-height: 500px;
    text-align: center;
    width: 100%;
}
.footer {
    width: 100%;
    height: 50px;
    font-size: 22px;
    background: #f5f5f5;
    line-height: 50px;
}
.footer a {
    color: #337aB7;
    text-decoration: none;
}

/*主页面*/
.main {
    color: #000000;
    width: 96%;
    margin: 30px auto;
}
.intro {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    height: 300px;
    background: #F5F5F5;
}
.userintro {
    width: 100%;
    margin:0 auto;
    border-radius: 5px;
    height: 200px;
    background:#F5F5F5
}
.welcome {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 50px;
    text-align: left;
}
.tech {
    overflow: hidden;
    width: 100%;
}
.btnlist {
    padding-left: 50px;
    text-align: left;
}
.login {
    display: inline-block;
    height: 38px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0068A6), to(#337aB7))
}
.register {
    display: inline-block;
    height: 38px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0068A6), to(#337aB7))
}
.show {
    overflow: hidden;
    width: 100%;
}
.show li {
    text-align: left;
    font-size: 18px;
}
.col {
    display: inline-block;
    float: left;
    width: 32%;
    height: 100px;
    overflow: hidden;
    padding-right: 20px;
    text-align: left;
    text-overflow: ellipsis;
}
.author {
    margin-top: 10px;
    margin-bottom: 3px;
}

/*注册页*/
.field {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ccc;
}
.regheader {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}
.regform {
    text-align: left;
    padding-left: 100px;
    margin-bottom: 20px;
}
.regform input[type='text'],input[type='password']{
    width: 200px;
    height: 20px;
}
.regform input[type='submit'] {
    width: 120px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    background:-webkit-gradient(linear, left top, left bottom, from(#0068A6), to(#337aB7));
}
.mess {
    font-size: 18px;
    color: #E73C3C;
    background: #F2DEDE;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin-left: 100px;
}
.item {
    margin: 20px;
    width: 100%;
}
.label {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    display: inline-block;
    width: 10%;
    padding-right: 10px;
    text-align: right;
    vertical-align: middle;
}